* {
  margin: 0;
  padding: 0; }

.color {
  background-image: linear-gradient(to left, blue, #2f0f8c, #131349); }

h1 {
  color: aliceblue;
  font-size: 70px;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: bolder; }

header {
  background-color: whitesmoke;
  text-align: center;
  border: solid; }

.enlace {
  color: aliceblue;
  font-family: "Anton", sans-serif; }

.footer {
  background-color: #0d0d3b;
  color: azure;
  letter-spacing: 3.5px;
  padding: 50px 20px;
  margin-top: 50px;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .footer__link {
    margin-top: 60px; }
  .footer__rrss {
    margin-left: 100px; }
  .footer__grid--list {
    margin-left: 120px; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.link-facebook {
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
  color: aliceblue;
  text-decoration: none;
  background-color: #3364ff; }
  .link-facebook:hover {
    background-color: gray; }

.link-instagram {
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
  color: aliceblue;
  text-decoration: none;
  background-color: #ff33ff; }
  .link-instagram:hover {
    background-color: gray; }

.link-twitter {
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
  color: aliceblue;
  text-decoration: none;
  background-color: #33caff; }
  .link-twitter:hover {
    background-color: gray; }

.video__responsive {
  display: none; }

.escudo__responsive {
  display: none; }

.navbar {
  text-decoration: none;
  color: #0d0d3b;
  font-family: "Anton", sans-serif;
  font-size: x-large;
  height: 30px;
  margin: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .navbar__enlace {
    transition: transform 0.4s; }
    .navbar__enlace:hover {
      transform: translatex(10px); }
  .navbar__responsive {
    display: none; }
    .navbar__responsive:hover > ul {
      display: block; }
    .navbar__responsive i {
      font-size: 35px; }
    .navbar__responsive ul {
      display: none;
      position: absolute;
      right: 0;
      top: 100px;
      width: 100%;
      background-color: whitesmoke; }
    .navbar__responsive li {
      padding: 25px 0;
      text-align: center; }
      .navbar__responsive li a {
        color: #0d0d3b;
        font-weight: bold;
        color: #0d0d3b;
        font-family: "Anton", sans-serif;
        font-size: 15px;
        text-decoration: none;
        transition: transform 0.4s; }
      .navbar__responsive li:hover {
        transform: translatex(10px); }
      .navbar__responsive li:nth-child(odd) {
        background-color: white; }

.formulario {
  color: #1e1e5f;
  text-align: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: beige;
  width: 900px;
  height: 650px;
  margin-left: 250px;
  border: 10px groove #1e1eb8; }

.form__responsive {
  display: none; }

.fondo {
  background-image: url(../images/kempes.jpeg);
  background-size: 100%; }

.parrafo {
  color: #fcf2f2;
  font-family: 'Gentium Basic', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: initial;
  line-height: normal;
  text-indent: 50px; }

.sobrenosotros__enlaces {
  background-color: #0d0d3b;
  color: white;
  text-decoration: none;
  font-family: "Anton", sans-serif;
  font-size: x-large;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60px; }

.sobrenosotros__h1 {
  color: #e9e9eb;
  font-family: "Anton", sans-serif; }

.h1 {
  color: white;
  font-size: 80px;
  font-family: "Anton", sans-serif;
  text-align: center;
  letter-spacing: 3.5px;
  box-shadow: 0px 25px 50px -12px; }

.escudo {
  text-align: center; }
  .escudo__responsive {
    display: none; }

.animacion {
  animation: latidos  4s 3 normal forwards; }

@keyframes latidos {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

.frase {
  font-family: 'Galada', cursive;
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
  color: #ebe4e4;
  letter-spacing: 0.5px;
  box-shadow: 0px 25px 50px -12px; }

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

.movimiento {
  transition: transform 0.2s; }
  .movimiento:hover {
    transform: translatey(-15px); }

.card1 {
  background-color: #dfdbdb;
  width: 300px;
  height: 350px;
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
  border-bottom: solid 12px gray;
  border-top: solid 5px #4c4c4c;
  border-right: solid 10px #303030;
  border-left: solid 12px #898686;
  border-radius: 10px;
  overflow-x: hidden; }
  .card1__beneficiogolazo {
    font-size: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, Courier, monospace; }

.title {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.camiseta {
  overflow: visible; }
  .camiseta__div {
    position: relative; }
    .camiseta__div img {
      width: 100%;
      height: 95%;
      border-radius: 10px;
      margin-bottom: 20px; }
    .camiseta__div--cartel {
      background-color: blue;
      color: aliceblue;
      padding: 5px;
      position: absolute;
      right: 0;
      border-bottom-left-radius: 100px;
      font-size: 12px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, Courier, monospace; }
  .camiseta__titulo {
    font-size: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, Courier, monospace;
    text-align: center; }
  .camiseta__descripcion {
    font-size: 14px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, Courier, monospace;
    text-align: center; }
  .camiseta__link {
    font-size: 12px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, Courier, monospace;
    color: white;
    background-color: #0d0d3b;
    text-decoration: none;
    border-radius: 10px;
    padding: 3px;
    position: relative;
    margin-left: 40%; }

.card2 {
  background-color: #dfdbdb;
  width: 300px;
  height: 350px;
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
  border-bottom: solid 12px gray;
  border-top: solid 5px #4c4c4c;
  border-right: solid 10px #303030;
  border-left: solid 12px #898686;
  border-radius: 10px; }

.card3 {
  background-color: #dfdbdb;
  width: 300px;
  height: 350px;
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
  border-bottom: solid 12px gray;
  border-top: solid 5px #4c4c4c;
  border-right: solid 10px #303030;
  border-left: solid 12px #898686;
  border-radius: 10px;
  background-image: url(../images/fondonoticias.jpg);
  background-size: 100%; }
  .card3__imagen {
    display: block;
    margin: auto;
    margin-top: 15px; }
  .card3__parrafo {
    text-align: center;
    font-weight: 800;
    font-size: 14px; }

.text {
  margin: -25px; }

.h3 {
  color: aliceblue;
  font-size: xx-large;
  font-family: "Anton", sans-serif;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  margin-left: 200px;
  animation: myAnim 2s ease 0s 1 normal forwards; }

@keyframes myAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%; }
  15% {
    transform: translateX(-30px) rotate(-6deg); }
  30% {
    transform: translateX(15px) rotate(6deg); }
  45% {
    transform: translateX(-15px) rotate(-3.6deg); }
  60% {
    transform: translateX(9px) rotate(2.4deg); }
  75% {
    transform: translateX(-6px) rotate(-1.2deg); } }

.link, .link-cami, .link-camp, .link-pant, .link-muj, .link-nin {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  color: aliceblue;
  font-family: "Anton", sans-serif;
  margin: 50px;
  position: relative;
  left: 150px;
  background-color: blue;
  transition: all 0.5s; }

.link-cami:hover {
  background-color: gray;
  color: black; }

.link-camp:hover {
  background-color: burlywood;
  color: purple; }

.link-pant:hover {
  background-color: blueviolet;
  color: navy; }

.link-muj:hover {
  background-color: hotpink;
  color: darkblue; }

.link-nin:hover {
  background-color: darkviolet;
  color: lawngreen; }

.card {
  max-width: 1200px;
  max-width: 0 auto; }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: space-around;
  margin-left: 220px;
  margin-top: -50px; }
  .grid__card {
    background-color: gray;
    color: black;
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    text-align: center;
    margin-top: 150px;
    font-size: 13px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, Courier, monospace; }
    .grid__card p {
      font-size: 20px;
      color: darkblue; }

.boton {
  background-color: #9f9f9f;
  color: indigo;
  border-radius: 10px;
  box-shadow: 0 25px 50px 10px;
  margin-top: 10px; }

@media (max-width: 320px) {
  .navbar {
    display: none; } }

@media (max-width: 480px) {
  body {
    background-color: white; }
  /*titulos de cada pagina*/
  .h1 {
    color: aliceblue;
    text-align: center;
    font-size: 42px; }
  .frase {
    color: #0d0d3b;
    text-align: center;
    font-size: 30px;
    font-family: 'Galada', cursive; }
  .navbar {
    display: none; }
  .navbar__responsive {
    display: block;
    height: 120px; }
  header {
    color: white; }
  .escudo {
    display: none; }
  h1 {
    color: #0d0d3b;
    font-size: 50px;
    letter-spacing: 0.5px; }
  .enlace {
    display: none; }
  .h3 {
    color: #0d0d3b;
    margin-left: auto;
    margin-bottom: -100px;
    font-size: 20px; }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-left: 15px;
    row-gap: 10px; }
  .formulario {
    display: none; }
  .sobrenosotros__h1 {
    margin-left: 25px; }
  .sobrenosotros__enlaces {
    display: none; }
  .parrafo {
    font-size: 20px;
    font-weight: bold; }
  .form__responsive {
    display: inline-block;
    color: #0d0d3b;
    background-color: lightslategray;
    font-size: 2px;
    font-family: "Anton", sans-serif;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    top: 25%;
    left: 25%;
    bottom: 30%;
    transition: transform 0.4s; }
    .form__responsive:hover {
      background-color: blue; }
  .link__responsive {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-left: -150px;
    row-gap: 5px; }
  .escudo__responsive {
    display: block;
    position: absolute;
    top: 25px;
    height: 100px;
    width: 100px;
    padding-left: 15px; }
  .footer {
    text-align: center;
    font-size: 15px; }
    .footer__grid {
      display: grid;
      grid-template-columns: 1fr; }
    .footer__bloque1 {
      text-align: center; }
    .footer__link {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .footer__co {
      text-align: center; }
  .video__responsive {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    font-family: "Anton", sans-serif;
    color: #0d0d3b;
    width: 50%;
    background-color: lightslategray;
    font-size: x-large;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    transition: transform 0.4s; }
    .video__responsive:hover {
      background-color: blue; } }

@media (max-width: 780px) {
  header {
    width: 100%; }
  .navbar {
    width: 110%;
    margin-left: -15px;
    font-size: medium; }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin-left: -35px; }
  .h3 {
    text-align: center;
    margin-left: -15px; }
  .enlace {
    margin-left: 20px; }
  .sobrenosotros__h1 {
    margin-left: 25px; }
  .formulario {
    display: none; }
  .form__responsive {
    display: inline-block;
    color: #0d0d3b;
    width: 50%;
    background-color: lightslategray;
    font-size: x-large;
    font-family: "Anton", sans-serif;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 25%; }
    .form__responsive:hover {
      background-color: blue; }
  .formulario__responsive {
    color: #1e1e5f;
    text-align: center;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: beige;
    border: 5px groove #1e1eb8; }
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .footer__rrss {
      display: none; }
    .footer__link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 200px; }
  .link__responsive {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-left: -40%;
    row-gap: 10px;
    transition: transform 0.4s; }
    .link__responsive:hover {
      background-color: blue; } }
