 *{
    margin: 0;
    padding: 0 ;
}

.color{

    background-image: linear-gradient( to left, blue, rgb(47, 15, 140), rgb(19, 19, 73) ) 
}

h1{

    color: $white;    
    font-size: 70px;
    text-align: center;
    font-family: $fontAnton;
    font-weight: bolder;
 } 


 header{

    background-color: whitesmoke;
    text-align: center;
    border: solid;
} 

.enlace{

    color:$white;
    font-family: $fontAnton;
}


.footer{

    background-color: $blue;  
    color: azure;
    letter-spacing: 3.5px;
    padding: 50px 20px;
    margin-top: 50px;
    font-size: 15px;
    font-family: $font;

    &__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px  ;
        
    }

    &__link{

        margin-top: 60px;
    }

    &__rrss{

        margin-left: 100px;
    }

    &__grid--list{
        margin-left:  120px;
    }
}

.container {
    max-width: 1200px;
    
    margin: 0 auto; }


    //maps//

    $redesSociales:(

      facebook: #3364ff,
      instagram: #ff33ff,
      twitter: #33caff,

    );

    @each $redes, $color in $redesSociales {

        .link-#{$redes}{
            margin: 0 5px;
            padding: 10px;
            border-radius: 10px;
            color: $white;
            text-decoration: none;
            background-color: $color;

            &:hover{
                background-color: gray;
            }
        }
        
    }


