
   // ver navbar fijo y que no se desconfiguren las imagenes//
   
   .navbar{
    text-decoration: none;
    color: $blue ;
    font-family: $fontAnton;
    font-size: x-large;   
    height: 30px;
    margin: 20px;
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 

    &__enlace {

        transition: transform 0.4s;

    &:hover{

        transform:translatex(10px);
    }
    
    }
}


    

    


