

.h1 {

    color: white ; 
    font-size: 80px; 
    font-family: $fontAnton;    
    text-align: center;  
    letter-spacing: 3.5px;
    box-shadow: 0px 25px 50px -12px;
  
}

.escudo{

    text-align: center  ;  
    
    
    &__responsive{

        display: none;

    }
    
}



.animacion{

    animation: latidos  4s 3 normal forwards ;
}

@keyframes latidos {
    0% { transform:  scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

.frase{

    font-family: 'Galada', cursive;
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
    color:#ebe4e4;
    letter-spacing: 0.5px;
    box-shadow: 0px 25px 50px -12px;
}

.flex{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
} 

.movimiento{
    transition: transform 0.2s;

    &:hover{

        transform: translatey(-15px);
    }

}

//MIXINS//

@mixin card-base {

    background-color: rgb(223, 219, 219);
    width: 300px;
    height: 350px;
    font-size: 14px;
    font-family: $font;
    margin: 20px;
    border-bottom:solid 12px gray ;
    border-top: solid 5px rgb(76, 76, 76);
    border-right: solid 10px rgb(48, 48, 48);
    border-left: solid 12px rgb(137, 134, 134);
    border-radius: 10px;
    
}

.card1{

    @include card-base;

    
    overflow-x: hidden;
    

    &__beneficiogolazo {

        font-size: 15px;
        font-family: $fontG;

    }
   
}

.title{
    text-align: center;
    font-family: $font;
}

.camiseta{

    overflow: visible; 
    
    &__div{

        position: relative;

        & img {

            width: 100%;
            height: 95%;
            border-radius: 10px;
            margin-bottom: 20px;    

        }

        &--cartel{

            background-color: blue;
            color: $white;
            padding: 5px;
            position: absolute;
            right: 0;
            border-bottom-left-radius: 100px;
            font-size: 12px;
            font-family: $fontG;

        }
    }

    &__titulo{

        font-size: 15px;
        font-family: $fontG;
        text-align: center;
    }

    &__descripcion{

        font-size: 14px;
        font-family: $fontG;
        text-align: center;

    }

    &__link{

      font-size: 12px;
      font-family: $fontG;
      color: white;
      background-color:$blue;
      text-decoration : none;
      border-radius:10px;
      padding: 3px;
      position: relative;
      margin-left: 40%;
      

    }
} 

.card2{
    @include card-base;
}

.card3{

    @include card-base;

    background-image: url(../images/fondonoticias.jpg);
    background-size: 100%;
    

    &__imagen{

        display: block;
        margin: auto;
        margin-top: 15px;
       

    }

    &__parrafo{

        text-align: center;
        font-weight: 800;
        font-size: 14px;
       

    }
    
}

.text{
    
    margin: -25px;
}






