$blue: #0d0d3b;

$white: aliceblue;

$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$fontG: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;

$fontAnton: 'Anton', sans-serif;